@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background-dark: #0e0f12;
        --background: #282a36;
        --current-line: #44475a;
        --foreground: #f8f8f2;
        --comment: #6272a4;
        --cyan: #8be9fd;
        --green: #50fa7b;
        --orange: #ffb86c;
        --pink: #ff79c6;
        --purple: #bd93f9;
        --red: #ff5555;
        --yellow: #f1fa8c;

        --border: #282a36;
        --input: #282a36;
        --ring: #282a36;

        --radius: 0.5rem;

        --card: rgb(0 0 0 / 30%);
        --card-foreground: #f8f8f2;

        --popover: #0e0f12;
        --popover-foreground: #f8f8f2;

        --primary: #f8f8f2;
        --primary-foreground: #f8f8f2;

        --secondary: #50fa7b;
        --secondary-foreground: #50fa7b;

        --muted: #f8f8f2;
        --muted-foreground: #7b7b7b;

        --accent: #50fa7b;
        --accent-foreground: #282a36;

        --destructive: #ff79c6;
        --destructive-foreground: #ff79c6;
    }

    .font-poppins {
        font-family: var(--font-poppins);
    }

    .font-fira {
        font-family: var(--font-fira);
    }

    .font-geist {
        font-family: var(--font-geist-sans);
    }

    * {
        margin: 0;
        padding: 0;
        outline: 0;
        box-sizing: border-box;
    }

    body::-webkit-scrollbar {
        width: 0.25rem;
    }

    body::-webkit-scrollbar-track {
        background: var(--background-dark);
        border-radius: 0.25rem;
    }

    body::-webkit-scrollbar-thumb {
        background: var(--green);
        border-radius: 0.25rem;
    }

    body::-webkit-scrollbar {
        width: 0.7rem;
    }

    body::-webkit-scrollbar-track {
        background: var(--background-dark);
    }

    body::-webkit-scrollbar-thumb {
        background: var(--green);
    }

    ::selection {
        background-color: var(--green) !important;
        color: var(--background) !important;
    }

    .bg-dots {
        background-color: #282a36;
        opacity: 1;
        background-image: radial-gradient(
                rgba(255, 121, 198, 0.2) 1.4000000000000001px,
                transparent 1.2px
            ),
            radial-gradient(
                rgba(255, 121, 198, 0.5) 1.4000000000000001px,
                #282a36 1.2px
            );
        background-size: 112px 112px;
        background-position:
            0 0,
            56px 56px;
    }
}
