.bg-dots-me {
    background-color: var(--purple-dark);
    background-image: url("../../public/assets/images/bg/bg.svg");
    background-repeat: no-repeat;
    background-position: top center;
}

.me-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    width: 300px;
    position: relative;
    padding: 0.8rem 0.8rem;
    cursor: pointer;
    text-align: start;
    border-radius: 25px;
}

.font-obviously {
    font-family: "obviously", sans-serif;
}
